/* Global styles */

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  font-family: Georgia, serif;
  font-size: larger;
  transition: background-color 2s ease-in-out;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.nav-toggle {
  display: none;
}

@media (max-width: 768px) {
  .nav-toggle {
    display: block;
    cursor: pointer;
  }

  .nav-toggle span {
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px 0;
    background-color: #fff;
  }

  nav ul {
    display: none;
  }

  nav ul.show {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .projects {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 100%;
    margin-bottom: 2rem;
  }
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

nav a:hover {
  color: #ccc;
  text-decoration: underline;
}

.hero {
  background-color: #222;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin: 0;
}

.hero p {
  font-size: 1.5rem;
}

.btn-primary,
.btn-secondary,
.btn-third {
  display: inline-block;
  background-color: #fff;
  color: #333;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.btn-primary {
  background-color: #333;
  color: #fff;
  border: 2px solid #444;
}
.btn-secondary {
  background-color: #333;
  color: #fff;
  border: 2.5px solid #444;
}
.btn-third {
  background-color: #333;
  color: #fff;
  border: 2px solid #444;
  font-size: small;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-third:hover {
  background-color: #444;
}

.about-me {
  padding-left: 2%;
  padding-right: 2%;
}

.minusta:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
  background-color: #333;
  color: #fff;
}

.minusta {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  align-items: start;
  background-color: #c4c4c49c;
  border-radius: 5px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.ilma {
  padding-top: 1.5%;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem;
  padding-left: 1%;
  padding-right: 1%;
}

.projects h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
}

.project-card {
  background-color: #c4c4c49c;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 48%;
  padding-top: 4%;
  padding-bottom: 4%;
  border-radius: 5px;
  padding-left: 1%;
  padding-right: 1%;
}

.project-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
  background-color: #333;
  color: #fff;
}

.project-card h3 {
  font-size: 2rem;
  text-align: center;
}

.project-card p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 30px;
  padding-left: 1%;
  padding-right: 1%;
}

.project-card:hover {
  background-color: #333;
  color: #fff;
  transition: all 0.4s ease-in-out;
}

footer {
  color: #777171;
  text-align: center;
  position: static;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  margin-top: 8%;
}
