* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Georgia, serif;
  font-size: larger;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

body.fade-out {
  opacity: 0.1;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("coffee-45358.mp4") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.5;
}

header {
  background-color: #111;
  color: #fff;
  padding: 1rem;
}

.nav-toggle {
  display: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

nav a:hover {
  color: #ccc;
  text-decoration: underline;
}

.herotus:hover {
  transform: scale(1);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
  background-color: #333;
  background-image: linear-gradient(to bottom right, #222, #333);

  color: #fff;
}

.hero {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
}

.herotus {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  align-items: start;
  background-color: #c4c4c49c;
  border-radius: 17px;
  padding: 1.5rem;
  user-select: none;
  text-align: center;
  background-image: linear-gradient(to bottom right, #c4c4c49c, #222);
}

.hero h1 {
  font-size: 3rem;
  margin: 0;
}

.hero p {
  font-size: 2rem;
}

.btn-primary,
.btn-secondary,
.btn-third {
  display: inline-block;
  background-color: #fff;
  padding: 0.8rem 1rem;
  text-decoration: none;
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
  transition: background-color 0.3s ease;
  border-radius: 12px;
  background-image: linear-gradient(to bottom right, #222, #444);
  font-size: 1.2em;
}

.btn-primary {
  background-color: #222;
  color: #fff;
  border: 2px solid #444;
}
.btn-secondary {
  background-color: #222;
  color: #fff;
  border: 2.5px solid #444;
  padding: 1.3rem 1.4rem;
}
.btn-third {
  background-color: #222;
  color: #fff;
  border: 2px solid #444;
  font-size: smaller;
  padding: 0.6rem 1rem;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-third:hover {
  background-image: linear-gradient(to bottom right, #333, #111);
}

.about-me {
  padding-left: 2%;
  padding-right: 2%;
}

.minusta:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
  background-color: #333;
  background-image: linear-gradient(to bottom right, #222, #333);
  color: #fff;
}

.minusta {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  align-items: start;
  background-color: #c4c4c49c;
  background-image: linear-gradient(to bottom right, #c4c4c49c, #222);
  border-radius: 17px;
  padding: 1.5rem;
  user-select: none;
  text-align: center;
  font-size: 1.4rem;
}

.ilma {
  padding-top: 1.5%;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.5%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
  padding-left: 1%;
  padding-right: 1%;
}

@media (max-width: 768px) {
  .projects {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.project-card {
  background-color: #c4c4c49c;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: calc(50% - 2%);
  padding-top: 2%;
  padding-bottom: 2.2%;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 2%;
  user-select: none;
  background-image: linear-gradient(to bottom right, #c4c4c49c, #222);
  border-radius: 17px;
}

@media (max-width: 768px) {
  .project-card {
    width: 100%;
    margin-bottom: 12%;
  }
  .minusta {
    width: 100%;
    margin-bottom: 12%;
  }
  .herotus {
    width: 100%;
    margin-bottom: 12%;
    margin-top: 3%;
  }
}

.project-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
  background-color: #333;
  background-image: linear-gradient(to bottom right, #222, #333);
  color: #fff;
}

.project-card h3 {
  font-size: 2.5rem;
  text-align: center;
}

.project-card p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 30px;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 1.4rem;
}

.project-card:hover {
  background-color: #333;
  color: #fff;
  transition: all 0.4s ease-in-out;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

footer {
  color: #777171;
  text-align: center;
  position: relative;
  width: 100vw;
  box-sizing: border-box;
}
