* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Georgia, serif;
  font-size: larger;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.nav-toggle {
  display: none;
}

.ilma {
  padding-top: 40px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

nav a:hover {
  color: #ccc;
  text-decoration: underline;
}

.hero {
  background-color: #e5e5e5;
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 24px;
  margin-bottom: 40px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem;
  padding-left: 1%;
  padding-right: 1%;
}

@media (max-width: 768px) {
  .projects {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.project-card {
  background-color: #c4c4c49c;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: calc(50% - 2%);
  padding-top: 4%;
  padding-bottom: 4%;
  border-radius: 5px;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 2%;
  user-select: none;
}

@media (max-width: 768px) {
  .project-card {
    width: 100%;
  }
}

.project-card h3 {
  font-size: 2rem;
  text-align: center;
  margin: 30px 0 20px 0;
}

.project-card p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 30px;
}
.project-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
  background-color: #333;
  color: #fff;
}

.btn-secondary {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 1em;
  font-size: 1.1em;
  border-radius: 4px;
  margin-top: 1em;
}

.btn-secondary:hover {
  background-color: #444;
  cursor: pointer;
}

footer {
  color: #777171;
  text-align: center;
  position: static;
  bottom: 0;
  width: 100vw;
  box-sizing: border-box;
  margin-top: 2.5%;
}
