* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Georgia, serif;
  font-size: larger;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

body.fade-out {
  opacity: 0.1;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

header {
  background-color: #111;
  color: #fff;
  padding: 1rem;
}

.nav-toggle {
  display: none;
}

@media (max-width: 768px) {
  .nav-toggle {
    display: block;
    cursor: pointer;
  }

  .nav-toggle span {
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px 0;
    background-color: #fff;
  }

  nav ul {
    display: none;
  }

  nav ul.show {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

nav a:hover {
  color: #ccc;
  text-decoration: underline;
}

.contact h2 {
  text-align: center;
  margin-top: 1em;
  font-size: 2.5em;
  font-weight: bold;
  color: #111;
}
.ilma {
  padding-top: 1.5%;
}

.contact {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 1em;
  padding-top: 0em;
  padding-bottom: 0em;
  width: 500px;
  margin: 0 auto;
  user-select: none;
  background-color: #c4c4c49c;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  border-radius: 40px;
  user-select: none;
  background-image: linear-gradient(to bottom right, #c4c4c49c, #222);
}
@media (max-width: 768px) {
  .contact {
    width: 94vw;
  }
}
.contact:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.contact p {
  text-align: center;
  font-size: 1.2em;
  color: #222;
  width: 100%;
}

.contact-form label {
  display: block;
  font-size: 1.1em;
  margin-top: 1.5em;
  color: #111;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.8em;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 1.2em;
  margin-top: 0.5em;
}

.contact-form button {
  color: #fff;
  border: 2.5px solid #444;
  padding: 1em;
  font-size: 1.1em;
  border-radius: 15px;
  margin-top: 1em;
  margin-bottom: 4rem;
  margin-left: 9rem;
  background-image: linear-gradient(to bottom right, #222, #444);
}

@media (max-width: 768px) {
  .contact-form button {
    margin-left: 5rem;
  }
}
.contact-form button:hover {
  background-image: linear-gradient(to bottom right, #333, #111);
  cursor: pointer;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
footer {
  color: #777171;
  text-align: center;
  position: relative;
  width: 100vw;
  box-sizing: border-box;
}
